<%- include("includes/head") %>
    <form method="POST" action="<%= `/posts/edit/${postt._id}` %> ">
        <div class="form-group">
            <label>title</label>
            <input name="title" value="<%= postt.title %> " type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>body</label>
            <input name="body" value="<%= postt.body %> " type="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-warning">Back</a>
    </form>
<%- include("includes/tail") %>